[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error}
    ]},
    {lager, [
        {handlers, [{lager_console_backend, debug}]},
        {error_logger_redirect, true}
    ]},
    {yaws, [
        {conf, "priv/yaws.conf"}
    ]},
    {ls1mcs, [
        {tnc_device,  "/dev/soundmodem0"},
        {local_call,  "LY2EN"},
        {remote_call, "LY1BWB"},
        {input_log,   "test-input.log"},
        {output_log,  "test-output.log"},
        {start_proto, true}
    ]}
].
