{require_otp_vsn, "R16"}.
{erl_opts, [debug_info, fail_on_warning]}.
{port_env, [
   {"CFLAGS", "$CFLAGS -Wall -ansi -x c -g"},
   {"LDFLAGS", "$LDFLAGS -lax25 -lpthread"}
]}.
{port_specs, [
   {"priv/ax25_port", ["c_src/*.c"]}
]}.
{deps, [
    {uart,    ".*", {git, "https://github.com/tonyrog/uart.git",    {tag, "0.1"}}},
    {dthread, ".*", {git, "https://github.com/tonyrog/dthread.git", {tag, "0.1"}}}
]}.
