{erl_opts, [debug_info]}.
{sub_dirs, ["rel"]}.
{deps, [
    %%
    %%  Transitive deps.
    %%
    {goldrush,   ".*", {git, "git://github.com/DeadZen/goldrush.git",                   {tag, "0.1.6"}}},
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git",  {tag, "318e8e5a27"}}},
    %%
    %%  Direct dependencies.
    %%
    {dthread, ".*", {git, "https://github.com/tonyrog/dthread.git", {tag, "f8d1d65061"}}},
    {uart,    ".*", {git, "https://github.com/tonyrog/uart.git",    {tag, "79e236f58b"}}},
    {gproc,   ".*", {git, "https://github.com/uwiger/gproc.git",    {tag, "0.2.17"}}},
    {lager,   ".*", {git, "https://github.com/basho/lager.git",     {tag, "2.0.3"}}},
    {yaws,    ".*", {git, "https://github.com/klacke/yaws.git",     {tag, "yaws-1.97"}}},
    {jiffy,   ".*", {git, "https://github.com/davisp/jiffy.git",    {tag, "0.8.5"}}}
]}.
