{require_otp_vsn, "R16"}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.2.14"}}}
]}.
{port_env, [
   {"CFLAGS", "$CFLAGS -Wall -ansi -pedantic -x c"},
   {"LDFLAGS", "$LDFLAGS -lax25 -lpthread"}
]}.
{port_specs, [
   {"priv/gen_ax25u", ["c_src/*.c"]}
]}.

