[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, [debug, {lager_default_formatter, []}]},
            {lager_file_backend, [{file, "log/lager_debug.log"}, {level, debug}]}
        ]},
        {colored, true},
        {error_logger_redirect, true}
    ]},
    {mnesia, [
        {dir, "temp/data/mnesia/db"}
    ]},
    {yaws, [
        {conf, "priv/yaws.conf"}
    ]},
    {ls1mcs, [
        {load_gpredict_passes, {"temp/data/gpredict/passes.txt", 60000}},
        {link, [
            {ls1p_password, <<2#1010101010010010:16>>},
            {this_callsign, "LY2EN"},
            {peer_callsign, "LY1BWB"},
            {tnc, {soundmodem_agwpe, [
                {conn_host, ""},
                {conn_port, 8000},
                {agwpe_user, ""},
                {agwpe_pass, ""},
                {agwpe_port, 0}
            ]}}
        ]}
    ]}
].
