[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error}
    ]},
    {lager, [
        {handlers, [{lager_console_backend, debug}]},
        {error_logger_redirect, true}
    ]},
    {mnesia, [
        {dir, "temp/data/mnesia/db"}
    ]},
    {yaws, [
        {conf, "priv/yaws.conf"}
    ]},
    {ls1mcs, [
        {link, {soundmodem, [
            {device,  "/dev/soundmodem0"},
            {local_call,  "LY2EN"},
            {remote_call, "LY1BWB"}
        ]}}
    ]}
].
