{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "ls1mcs", git, [
        kernel, stdlib, sasl, observer,    % Erlang core
        compiler, syntax_tools, lager,     % Lager
        asn1, crypto, public_key, ssl,     % Yaws deps
        yaws, gproc, jiffy, mnesia,        % Main dependencies
        dthread, uart,                     % Uart specific
        ls1mcs                             % The LS1MCS
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "ls1mcs"},
    {profile, embedded},
    {incl_cond, derived},
    {mod_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)", "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, hipe,   [{incl_cond, exclude}]},
    {app, ls1mcs, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, sasl,   [{mod_cond, app}, {incl_cond, include}]}
]}.

{target_dir, "ls1mcs"}.

{overlay_vars, "vars/mcs.config"}.
{overlay, [
    {mkdir, "log/sasl"},
    {copy, "files/erl",                     "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool",                "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/ls1mcs",                  "bin/ls1mcs"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {template, "files/sys.config",          "releases/\{\{rel_vsn\}\}/sys.config"},
    {template, "files/vm.args",             "releases/\{\{rel_vsn\}\}/vm.args"},

    {mkdir, "data/mnesia/db"},
    {mkdir, "data/yaws/www"},
    {mkdir, "etc"},
    {copy, "files/etc/yaws.conf", "etc/yaws.conf"}
]}.

