[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [{file, "log/lager_debug.log"},  {level, debug}]},
            {lager_file_backend, [{file, "log/lager_notice.log"}, {level, notice}]},
            {lager_file_backend, [{file, "log/lager_error.log"},  {level, error}]}
        ]},
        {error_logger_redirect, true},
        {error_logger_hwm, 50000},
        {crash_log, "log/lager_crash.log"}
    ]},
    {mnesia, [
        {dir, "data/mnesia/db"}
    ]},
    {yaws, [
        {conf, "etc/yaws.conf"}
    ]},
    {ls1mcs, [
        {load_gpredict_passes, {"data/gpredict/passes.txt", 60000}},
        {link, [
            {ls1p_password, <<{{password}}:16>>},
            {this_callsign, "{{local_call}}"},
            {peer_callsign, "LY1BWB"},
            {tncs, [
                {tnc_tapr_kiss, [
                    {device, "{{tnc_device}}"},
                    {direction, uplink}
                ]},
                {soundmodem_agwpe, [
                    {conn_host, "193.219.144.4"},
                    {conn_port, 8000},
                    {agwpe_user, ""},
                    {agwpe_pass, ""},
                    {agwpe_port, 0},
                    {direction, downlink}
                ]}
            ]}
        ]}
    ]}
].

