[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [{file, "log/lager_debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "log/lager_error.log"}, {level, error}]}
        ]},
        {error_logger_redirect, true},
        {error_logger_hwm, 50000},
        {crash_log, "log/lager_crash.log"}
    ]},
    {mnesia, [
        {dir, "data/mnesia/db"}
    ]},
    {yaws, [
        {conf, "etc/yaws.conf"}
    ]},
    {ls1mcs, [
        {load_gpredict_passes, {"data/gpredict/passes.txt", 60000}},
        {link, {tnc_wa8ded_hostmode, [
            {device, "{{tnc_device}}"},
            {local_call, "{{local_call}}"}
        ]}}
    ]}
].

